<div class="container products-list-wrapper">
  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-half">
        <app-products-list-item [item]="products[productsIndex.fruit]">
        </app-products-list-item>
      </div>
      <div class="column is-half">
        <app-products-list-item [item]="products[productsIndex.greens]">
        </app-products-list-item>
      </div>
      <div class="column is-half">
        <app-products-list-item [item]="products[productsIndex.rootsAndStems]">
        </app-products-list-item>
      </div>
      <div class="column is-half">
        <app-products-list-item [item]="products[productsIndex.sproutsAndHerbs]">
        </app-products-list-item>
      </div>
    </div>
  </section>
</div>
