<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item"
       href="https://bulma.io">
      <img class="logo" src="https://res.cloudinary.com/eesportfolio/image/upload/v1537235308/veggiebox-logo.png"
           width="112"
           height="28">
    </a>
    <div class="navbar-burger burger"
         data-target="myNavbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a class="navbar-item grey-out" href="#">
      Car
      <i class="basket-icon fa fa-shopping-basket"></i>
    </a>
  </div>

  <div id="myNavbar"
       class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#">
        Get Started
      </a>
      <a class="navbar-item" href="#">
        About us
      </a>
      <a class="navbar-item" href="#">
        Where We deliver
      </a>
      <a class="navbar-item" href="#">
        Our Producers
      </a>
      <a class="navbar-item grey-out" href="#">
        Log In
      </a>
      <a class="navbar-item grey-out hide-item" href="#">
        Car
        <i class="basket-icon fa fa-shopping-basket"></i>
      </a>
    </div>
  </div>
</nav>


